<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    <link rel = "stylesheet" href = "../../vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "../../css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Title</title>
  </head>
  <body>

      <nav id = "page-nav" class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-text pull-left" style="margin-left: 0px;">
          <a href="../../views/page/page-list.html">
            <i class="fa fa-chevron-left" aria-hidden="true" style="color: black"></i>
          </a>
        </div>

        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Widgets
          </a>
        </div>

        <div class="navbar-text pull-right">
          <a href="../../views/widget/widget-chooser.html">
            <i class="fa fa-plus" aria-hidden="true" style="color: black"></i>

          </a>
        </div>

      </nav>

      <div class="container-fluid">
        <div class="dg-widget">
          <div class="dg-toolbar">
            <a href="../../views/widget/widget-heading.html">
              <i class="fa fa-cog pull-right" aria-hidden="true" style="color: #007bff"></i>
            </a>
            <i class="fa fa-bars pull-right" aria-hidden="true" style="color: #007bff"></i>
          </div>
          <h1>Heading of Size 1</h1>
        </div>

        <div class="dg-widget">
          <div class="dg-toolbar">
            <a href="widget-image.html">
              <i class="fa fa-cog pull-right" aria-hidden="true" style="color: #007bff"></i>
            </a>
            <i class="fa fa-bars pull-right" aria-hidden="true" style="color: #007bff"></i>
          </div>
          <img class="dg-content" src="http://lorempixel.com/400/200"/>
        </div>

        <div class="dg-widget">
          <div class="dg-toolbar">
          <a href="widget-youtube.html">
            <i class="fa fa-cog pull-right" aria-hidden="true" style="color: #007bff"></i>
          </a>
            <i class="fa fa-bars pull-right" aria-hidden="true" style="color: #007bff"></i>
          </div>
          <iframe class="dg-content" width="560" height="315" src="https://www.youtube.com/embed/xig77hiUHig" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>

      <footer id="foot-nav" class="footer">
        <div class="container-fluid">
          <a href="../../views/user/profile.html">
            <i class="fa fa-user pull-right" aria-hidden="true" style="font-size: 30px; color: #007bff"></i>
          </a>
        </div>
      </footer>

  </body>
</html>
