<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <link rel = "stylesheet" href = "../../vendors/bootstrap/dist/css/bootstrap.min.css">
  <link rel = "stylesheet" href = "../../css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Title</title>
</head>
<body>

<nav id = "page-nav" class="navbar navbar-default navbar-fixed-top">

  <div class="navbar-text pull-left" style="margin-left: 0px;">
    <a href="../../views/widget/widget-list.html">
      <i class="fa fa-chevron-left" aria-hidden="true" style="color: black"></i>
    </a>
  </div>

  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      Widget Edit
    </a>
  </div>

  <div class="navbar-text pull-right">
    <a href="../../views/widget/widget-list.html">
      <i class="fa fa-check" aria-hidden="true" style="color: black"></i>

    </a>
  </div>

</nav>

<div class="container-fluid">
  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <label>Text</label>
      <input type="text" class="form-control" placeholder="abcd">
    </div>
    <div class="form-group">
      <label>Size</label>
      <input type="text" class="form-control" placeholder="3">
    </div>

    <a href = "../../views/widget/widget-list.html" class="btn btn-danger btn-block">Delete</a>
  </form>

</div>

<footer id="foot-nav" class="footer">
  <div class="container-fluid">
    <a href="../../views/user/profile.html">
      <i class="fa fa-user pull-right" aria-hidden="true" style="font-size: 30px; color: #007bff"></i>
    </a>
  </div>
</footer>

</body>
</html>
