<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <link rel = "stylesheet" href = "../../css/styles.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Edit Page</title>
</head>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="row container-fluid">

    <div class="dg-nav-items navbar-text pull-left" style="margin-left: 15px; position: absolute">
      <a href="#">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>

    <div class="col-sm-5 hidden-xs">

      <div class="dg-nav-items navbar-text pull-left" style="margin-left: 0px">
        <a href="#">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="dg-nav-items navbar-header pull-left" style="margin-left: 10px;
            margin-top: 5px">
        <a class="navbar-brand">
          <b>Pages</b>
        </a>
      </div>

      <div class="dg-nav-items navbar-text pull-right" style="margin-right: 0px">
        <a href="#">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>

    </div>

    <div class="col-sm-7 col-xs-12">

      <div class="dg-nav-items navbar-header pull-left" style="margin-left: 25px;
            margin-top: 5px">
        <a class="navbar-brand">
          <b>Edit Page</b>
        </a>
      </div>

      <div class="dg-nav-items navbar-text pull-right" style="margin-right: 0px">
        <a href="#">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

    </div>

  </div>

</nav>

<div class="dg-left-pane col-sm-5 hidden-xs">

  <div class="dg-left-pane-items">
    <p style="display: inline-block">
      <a href="#">
        ABD
      </a>
    </p>
    <a href="#">
      <span class="glyphicon glyphicon-cog pull-right"></span>
    </a>
  </div>
  <div class="dg-left-pane-items">
    <p style="display: inline-block">
      <a href="#">
        ABD
      </a>
    </p>
    <a href="#">
      <span class="glyphicon glyphicon-cog pull-right"></span>
    </a>
  </div>
  <div class="dg-left-pane-items">
    <p style="display: inline-block">
      <a href="#">
        ABD
      </a>
    </p>
    <a href="#">
      <span class="glyphicon glyphicon-cog pull-right"></span>
    </a>
  </div>
  <div class="dg-left-pane-items">
    <p style="display: inline-block">
      <a href="#">
        ABD
      </a>
    </p>
    <a href="#">
      <span class="glyphicon glyphicon-cog pull-right"></span>
    </a>
  </div>

</div>

<div class="dg-right-pane col-sm-7">

  <div class="dg-right-pane-items">
    <label>Page Name</label>
    <input class="form-control"/>
  </div>

  <div class="dg-right-pane-items">
    <label>Title</label>
    <textarea class="form-control"></textarea>
  </div>

  <div class="dg-right-pane-items">
    <a href = "#" class="btn btn-danger btn-block">Delete</a>
  </div>


</div>


<footer class="footer">
  <div class="dg-nav-items container-fluid pull-right">
    <a href="../../views/user/profile.html">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</footer>

</body>
</html>

